@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>






<a id="createdata"><b>Generate PDF</b></a>

@*We can use this as well for anchor tag*@
@*@Html.ActionLink("Generate PDF", "DownloadPDF", new { controller = "Pdf" }, new { target = "_blank" })*@


<script>

    $('#createdata').click(function (e) {
    // if using type="submit", this is mandatory
    e.preventDefault();

    window.open('@Url.Action("DownloadPDF", "Pdf", new { controller = "Pdf" })', '_blank');
});
</script>