

<h2>LoginPage</h2>

@{
    ViewBag.Title = "LoginPage";
}


@using (Html.BeginForm("Log", "Registration"))
{

    <table>
        <tbody>
            <tr>
                <td>   @Html.Label("UserName:")</td>
                <td>@Html.TextBox("UserName")</td>
            </tr>
            <tr>
                <td> @Html.Label("Password:")</td>
                <td>  @Html.TextBox("Password")</td>
            </tr>
            <tr>
                <td>  <input type="submit" value="Login" /></td>
            </tr>
        </tbody>
    </table>
}

